<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package = "com.example.fundmanager_renewal"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".utils.sns.KakaoApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FundManager_renewal"
        tools:targetApi="31">
        <activity android:name=".common.SignUpActivity"/>
        <activity android:name=".common.InActivity"/>
        <activity android:name=".common.MyInfoActivity"/>
        <activity android:name=".common.MenuActivity"/>
        <activity android:name=".common.OutActivity"/>
        <activity android:name=".common.InOutListActivity"/>
        <activity android:name=".common.TradeListActivity"/>
        <activity android:name=".common.FindIdActivity"/>
        <activity android:name=".common.FindPwActivity"/>
        <activity android:name=".common.UpdatePwActivity"/>

        <activity
            android:name=".common.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao84565de73f708f3e0f193397c8ce6158" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>